body {
    width: 100%;
    height: 100vh;
}

.row {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    border: 1px solid blue;
    
}

duotone-image {
    flex: 33.3%; 
    flex-grow: 0;
    
}