body {
    width: 100%;
    height: 100vh;
    margin: 0;
}

.row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50%,1fr));
    grid-template-rows: 50vh;
    width: 100%;
    margin: 0 auto;
    background: black;
}



duotone-image{
    grid-column: span 2;
    grid-row: span 1;
}
