body {
    width: 100%;
    height: 100vh;
    margin: 0;
}

.row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25%,1fr));
    grid-template-rows: 25vh 25vh;
    width: 100%;
    margin: 0 auto;
    border: 8px solid red;
}



duotone-image{
    grid-column: span 1;
    grid-row: span 0;

}

duotone-image {}
